@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>A simple quick roadmap design I plan on using on the new obsidian site (not finished design yet)</h3>

<p>Yes, all links point to this page. I didn't want to spend too much time on this project as I am still working on the actual design template seperately.</p>
<section id="experience">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <ul class="timeline">
                    <li>
                        <div class="timeline-item">
                            <h4>Client Development</h4><span>June 2014 - <b>Present</b></span>
                        </div>
                        <div class="timeline-description">
                            <h4>OSM Development Starts</h4>
                            <p>Obsidian secure nessenger development started in 2014 and is currently ongoing to bring new features and additions. </p>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-item">
                            <h4>Team Recruitement</h4><span>May 2016</span>
                        </div>
                        <div class="timeline-description">
                            <h4>Expansion &amp; Development</h4>
                            <p>Core ODN team expanded and the OSM application is audited for security by multiple independment members of a known Germany computer club.</p>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-item">
                            <h4>OSM Alpha</h4><span>Q1 2017</span>
                        </div>
                        <div class="timeline-description">
                            <h4>Alpha Client</h4>
                            <p>OSM Alpha client works outside of the obsidian blockchain.</p>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-item">
                            <h4>ICO Launch</h4><span>Q2 2017</span>
                        </div>
                        <div class="timeline-description">
                            <h4>ICO</h4>
                            <p>Full node client release and Obsidian has its ICO.</p>
                        </div>
                    </li>
                </ul>
              
            </div>
        </div>
 
    </div>

</section>