@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="https://obsidianplatform.com/img/brand/OSM-tablet-chat-screen.png?v=0.1.7" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Basic ASP.NET site.
                    <a asp-area="" asp-controller="Home" asp-action="About" class="btn btn-default">
                        Get Started
                    </a>
                </p>
            </div>
        </div>
       
   
</div>

<div class="row">
    <div class="col-md-3">
        <h2>What is Obsidian</h2>
        Obsidian Coin (ODN) is deeply rooted into the messenger service, as well as future Obsidian apps. As a power source, it's function is derived from usage on the Obsidian platform as a whole. Not only will stakers be able to mint ODN through our 100% PoS system but they will also be able to setup Masternodes to host the network.
    </div>

</div>
