@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="https://obsidianplatform.com/img/brand/OSM-tablet-chat-screen.png?v=0.1.7" alt="obsidian" class="img-responsive" />
            <div class="carousel-caption" role="option">
              
            </div>
        </div>
       
   
</div>
    <br /><hr />
<div class="row">
    <div class="col-md-3">
        <h2>Encrypted</h2>
        End to end bcrypt sha512 encryption algorithms ensure that messages and files you send can only be accessed by your intended private contacts.
    </div>
    <div class="col-md-3">
        <h2>Anonymous</h2>
        Our end to end encryption ensures that your messages, files, pictures, videos and more, are never seen by anyone you didn't intend to. With timed auto deletion of messenger transfers, rest assured your past interaction will never be accessible to anyone.
    </div>
    <div class="col-md-3">
        <h2>Decentralised</h2>
        Integration in the new Obsidian blockchain automatically means that the entire system is completely decentralised. This is something that Threema and Signal do not have.
    </div>
    <div class="col-md-3">
        <h2>Stratis Core</h2>
        Obsidian leverages a custom version of the Stratis technology stack, in tandem with a customized version of NBitcoin which is made useable under .Net Core technologies.
    </div>
</div>
